// Dark Blue Shades
$dark-blue-intro: hsl(217, 28%, 15%);
$dark-blue-main: hsl(218, 28%, 13%);
$dark-blue-footer: hsl(216, 53%, 9%);
$dark-blue-testimonials: hsl(219, 30%, 18%);

// Accent Colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

// Neutral Color
$white: hsl(0, 0%, 100%);
$light-gray:rgba(255, 255, 255, 0.752);

$font-size-p:.950rem;


// Font Families
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


// Font Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;