.access{
    text-align: center;
    margin-block: 6rem;

    
    .access__grid{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;

        .box__item{
            text-align: center;
            margin: 3rem auto;

            img{
                margin: 0 auto;
                max-width: 100%;
                margin-bottom: 2.5rem;
            }

            h2{
                font-size: 1.4rem;
            }

            p{
                margin-top: .9rem;
            }
        }
    }
}




@media screen and (min-width:800px){
    .access{
        margin-inline: 2rem;

        .access__grid{
            grid-template-columns: 1fr 1fr;
            column-gap: 6rem;
            row-gap: 6rem;
            padding-inline: 4rem;

            .box__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .4rem;

            p{
                margin-top: 0rem;
            }

            img{
                margin-bottom: 1rem;
                margin-top: 0;
            }
            }
        
        }
    }
}



@media screen and (min-width:1150px){
    .access{
        margin-inline: 3.5rem;
        display: flex;

            .access__grid{
                padding-inline: 6.5rem;

                .box__item{
                    padding-inline: 3rem;
                }
            }
    }   
}


@media screen and (min-width:1500px){
    .access{
        margin-inline: 5.5rem;
        
        .access__grid{
            padding-inline: 8rem;
        }
    }
}
